html {
    background: rgb(92 125 122) no-repeat center center fixed;
    margin: 0;
    height: 100%;
}

body {
    background: url(pic/background.jpg) no-repeat center center fixed;
    margin: 0;
    height: 100%;
    color: white;
}

.opened {
    height: calc(100% + 200px);
}

.reg-error{
    position: absolute;
    top: -35px;
    left: auto;
    color: red;
}

.main-container {
    position: relative;
}

.greeting-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card-title, .card-text, .card-date {
    color: black;
}

.card-date {
    float: right;
    font-size: 11px;
    color: dimgray;
    line-height: 27px;
}

.greeting-title {
    text-align: center;
    color: black;
}

.greeting-text {
    text-align: center;
    font-size: 25px;
}

.btn:disabled {
    background-color: #606060;
    border-color: #606060;
}

.invalid-text, .valid-text {
    margin: 5px 0;
    position: absolute;
    font-size: 15px;
    line-height: 19px;
}

.invalid-text {
    color: red;
}

.valid-text {
    color: lime;
}

.invalid-input {
    border-color: red;
}

.valid-input {
    bborder-width: revert;
    border-color: lime;
}

.profile-img-box {
    position: relative;
    overflow: hidden;
    height: 350px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
}

.profile-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    min-width: 100.5%;
    height: 100%;
    width: initial;
}