body {
    background-color: #90c9f3;
}

.reg-error{
    position: absolute;
    top: -35px;
    left: auto;
    color: red;
}

.main-container {
    position: relative;
}

.greeting-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.greeting-title {
    text-align: center
}

.greeting-text {
    text-align: center;
    font-size: 25px;
    color: cornflowerblue;
}

.btn:disabled {
    background-color: gray;
    border-color: gray;
}

.invalid-text, .valid-text {
    margin: 5px 0;
    position: absolute;
    font-size: 15px;
    line-height: 19px;
}

.invalid-text {
    color: crimson;
}

.valid-text {
    color: olivedrab;
}

.invalid-input {
    border-color: crimson;
}

.valid-input {
    bborder-width: revert;
    border-color: olivedrab;
}

.profile-img-box {
    position: relative;
    overflow: hidden;
    height: 470px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.55);
}

.profile-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    min-width: 100.5%;
    height: 100%;
    width: initial;
}