body {
    background-color: lightblue;
}

.reg-error{
    position: absolute;
    top: -35px;
    left: auto;
    color: red;
}

.main-container {
    position: relative;
}

.greeting-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.greeting-title {
    text-align: center
}

.greeting-text {
    text-align: center;
    font-size: 25px;
    color: cornflowerblue;
}

.btn:disabled {
    background-color: gray;
    border-color: gray;
}

.invalid-text, .valid-text {
    margin: 5px 0;
    position: absolute;
    font-size: 15px;
    line-height: 19px;
}

.invalid-text {
    color: crimson;
}

.valid-text {
    color: olivedrab;
}

.invalid-input {
    border-color: crimson;
}

.valid-input {
    bborder-width: revert;
    border-color: olivedrab;
}