<!DOCTYPE html>
<html lang="">
<head>
    <title>Greeting page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);">
    <h1 style="text-align: center;">Welcome!</h1>
    <a href="/main" style="display: block;
    text-align: center;
    font-size: 25px;
    color: cornflowerblue;
    text-decoration: none;">
        Main page
    </a>
</div>
</body>
</html>